node_modules
dist/frontend
/public/hot
/public/storage
/public/uploads/0000
/storage/*.key
storage/app/*
!storage/app/public/
storage/app/public/*
!storage/app/public/demo/
/vendor
/.idea
/resources/ckeditor/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.vscode
storage/bc.php
storage/installed
public/themes/*/dist
